header{
    background-color: rgba(0, 27, 27, 0.301);
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

body {
    background-color: aqua;
}

#navCabecera h3{
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
}

#carritoYcuenta {
    padding-left: 8%;
    padding-right: 8%;
}